<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/fontawesome.min.css" rel="stylesheet" />
    <link href="css/custumlogin.css" rel="stylesheet" />

    <title>User Login</title>
  </head>
  <body>
    <section class="form-02-main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="_lk_de">
              <form
                th:action="@{/dologin}"
                method="post"
                th:object="${account}"
              >
                <div class="form-03-main">
                  <div class="logo">
                    <img src="img/user.png" />
                  </div>
                  <p
                    th:if="${message}"
                    class="text-center"
                    style="background-color: Tomato"
                  >
                    [[${message}]]
                  </p>
                  <div class="form-group">
                    <input
                      type="email"
                      name="email"
                      class="form-control _ge_de_ol"
                      placeholder="Enter Email"
                      required=""
                      aria-required="true"
                    />
                  </div>

                  <div class="form-group">
                    <input
                      type="password"
                      name="password"
                      class="form-control _ge_de_ol"
                      placeholder="Enter Password"
                      required=""
                      aria-required="true"
                    />
                  </div>

                  <div class="checkbox form-group">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="remember"
                        value=""
                        id=""
                      />
                      <label class="form-check-label" for="">
                        Remember me
                      </label>
                    </div>
                    <a href="#">Forgot Password</a>
                  </div>

                  <div class="form-group">
                    <div class="_btn_04">
                      <button
                        type="submit"
                        id="submit"
                        style="background-color: #2b3990; outline: #2b3990"
                      >
                        Login
                      </button>
                    </div>
                  </div>

                  <div class="form-group nm_lk"><p>Or Login With</p></div>

                  <div class="form-group pt-0">
                    <div class="_social_04">
                      <ol>
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-google-plus"></i></li>
                        <li><i class="fa fa-instagram"></i></li>
                        <li><i class="fa fa-linkedin"></i></li>
                      </ol>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="sweetalert2.all.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener("mouseenter", Swal.stopTimer);
          toast.addEventListener("mouseleave", Swal.resumeTimer);
        },
      });

      Toast.fire({
        icon: "success",
        title: "Sign in successfully",
      });
    </script>
  </body>
</html>
