<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orderdetail</title>
    <link rel="stylesheet" href="/css/orderdetail.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/fontawesome.min.css" />
  </head>
  <body>
    <div
      class="d-flex flex-column justify-content-center align-items-center"
      id="order-heading"
    >
      <div class="text-uppercase">
        <p>ORDER DETAIL</p>
      </div>
      <div class="h4">Bạn đã đặt hàng thành công</div>
      <div class="pt-1">
        <p>Order #12615 is currently<b class="text-dark"> processing</b></p>
      </div>
      <div class="btn close text-white">&times;</div>
    </div>
    <div class="wrapper bg-white">
      <div class="table-responsive">
        <table class="table table-borderless">
          <thead>
            <tr class="text-uppercase text-muted">
              <th scope="col">PRODUCT</th>
              <th scope="col" class="text-right">TOTAL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Thành tiền:</th>
              <td class="text-right">
                <b>$ [[${find.totalOrder}]]</b>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- for item cart -->
      <th:block th:each="item : ${itemCart}">
        <div
          class="d-flex justify-content-start align-items-center list my-2 py-1"
        >
          <div><b>[[${item.quantity}]]</b></div>
          <div class="mx-3">
            <img
              th:src="@{'/'+${item.picture}}"
              alt="apple"
              class="rounded-circle"
              width="30"
              height="30"
            />
          </div>
          <div class="order-item">[[${item.name}]]</div>
        </div>
      </th:block>
      <!-- end for item cart -->

      <div class="pt-2 border-bottom mb-3"></div>
      <div class="d-flex justify-content-start align-items-center pl-3">
        <div class="text-muted">Phương thức thanh toán</div>
        <div class="ml-auto">
          <img
            src="https://www.freepnglogos.com/uploads/mastercard-png/mastercard-logo-logok-15.png"
            alt=""
            width="30"
            height="30"
          />
          <label>Payment Method</label>
        </div>
      </div>
      <div class="d-flex justify-content-start align-items-center py-1 pl-3">
        <div class="text-muted">Shipping</div>
        <div class="ml-auto"><label>Free</label></div>
      </div>
      <div
        class="d-flex justify-content-start align-items-center pb-4 pl-3 border-bottom"
      >
        <div class="text-muted">
          <button class="text-white btn">0% Discount</button>
        </div>
        <div class="ml-auto price">0</div>
      </div>
      <div
        class="d-flex justify-content-start align-items-center pl-3 py-3 mb-4 border-bottom"
      >
        <div class="text-muted">Today's Total</div>
        <div class="ml-auto h5">$ [[${find.totalOrder}]]</div>
      </div>
      <div class="row border rounded p-1 my-3">
        <div class="col-md-6 py-3">
          <div class="d-flex flex-column align-items start">
            <b>Billing Address</b>
            <p class="text-justify pt-2">[[${find.phone}]]</p>
            <p class="text-justify">phone: [[${find.address}]]</p>
          </div>
        </div>
        <div class="col-md-6 py-3">
          <div class="d-flex flex-column align-items start">
            <b>Shipping Address</b>
            <p class="text-justify pt-2">[[${find.phone}]]</p>
            <p class="text-justify">phone: [[${find.address}]]</p>
          </div>
        </div>
      </div>
      <div class="pl-3 font-weight-bold">Related Subsriptions</div>
      <div class="d-sm-flex justify-content-between rounded my-3 subscriptions">
        <div><b>#9632</b></div>
        <div>[[${find.orderDay}]]</div>
        <div>Status: Processing</div>
        <div>
          Total:
          <b> $ [[${find.totalOrder}]] for [[${find.totalCate}]] items</b>
        </div>
      </div>
      <!-- <form action="/goback" method="get"> -->
      <button
        class="d-sm-flex justify-content-between rounded my-3 subscriptions"
      >
        <a th:href="@{/index.html}">Back To Home</a>
      </button>
      <!-- </form> -->
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>
