<div th:fragment="cylinder">
  <h5 class="section-title position-relative text-uppercase mb-3">
    <span class="bg-secondary pr-3">CYLINDER CAPACITY</span>
  </h5>
  <div class="bg-light p-4 mb-30">
    <form th:action="@{/searchbycc}" method="get">
      <!-- <div
        class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          checked
          id="size-all"
        />
        <label class="custom-control-label" for="size-all">LIST ALL</label>
        <span class="badge border font-weight-normal">1000</span>
      </div> -->
      <div
        class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          name="cylinder"
          value="1200"
          id="size-1"
        />
        <label class="custom-control-label" for="size-1">1200cc</label>
        <span class="badge border font-weight-normal">150</span>
      </div>
      <div
        class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          name="cylinder"
          value="1000"
          id="size-2"
        />
        <label class="custom-control-label" for="size-2">1000cc</label>
        <span class="badge border font-weight-normal">295</span>
      </div>
      <div
        class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          name="cylinder"
          value="900"
          id="size-4"
        />
        <label class="custom-control-label" for="size-4">900cc</label>
        <span class="badge border font-weight-normal">145</span>
      </div>
      <div
        class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          name="cylinder"
          value="800"
          id="size-4"
        />
        <label class="custom-control-label" for="size-4">800cc</label>
        <span class="badge border font-weight-normal">145</span>
      </div>
      <div
        class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          name="cylinder"
          value="700"
          id="size-4"
        />
        <label class="custom-control-label" for="size-4">700cc</label>
        <span class="badge border font-weight-normal">145</span>
      </div>
      <div
        class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          name="cylinder"
          value="400"
          id="size-3"
        />
        <label class="custom-control-label" for="size-3">600cc</label>
        <span class="badge border font-weight-normal">246</span>
      </div>
      <div
        class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          name="cylinder"
          value="300"
          id="size-4"
        />
        <label class="custom-control-label" for="size-4">400cc</label>
        <span class="badge border font-weight-normal">145</span>
      </div>
      <div
        class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          name="cylinder"
          value="300"
          id="size-4"
        />
        <label class="custom-control-label" for="size-4">300cc</label>
        <span class="badge border font-weight-normal">145</span>
      </div>
      <div
        class="custom-control custom-checkbox d-flex align-items-center justify-content-between"
      >
        <input
          type="checkbox"
          class="custom-control-input"
          name="cylinder"
          value="150"
          id="size-5"
        />
        <label class="custom-control-label" for="size-5">150cc</label>
        <span class="badge border font-weight-normal">168</span>
      </div>
      <button
        type="submit"
        class="btn btn-block btn-primary font-weight-bold my-3 py-3"
      >
        submit
      </button>
    </form>
  </div>
</div>
